<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About me</title>
</head>

<body>
<h1>Everything about me: Irene Zhang</h1>
<h2>Introduction</h2>

<p>Hello! My name is Irene, and I am an Information Systems senior student at the
    University of Maryland. I enjoy learning about <strong>data analytics</strong>
    and <em>web development</em>.</p>

<p>My first internship was at a <strong>startup</strong> located in <em>Singapore</em>.
    It focused on <em>product management</em> for the aging-in-place market.</p>

<h2>My favorite travel places</h2>
<!--Unordered list -->
<ul>
    <li>Beijing</li>
    <li>Las Vegas</li>
    <li>Boston</li>
    <li>New York</li>
    </ul>

<h2>My favorite matcha spots:</h2>
<!--Ordered list -->
<ol>
    <li>HeyTea</li>
    <li>Drip</li>
    <li>Soricha</li>
    <li>LiChun Cafe</li>
    </ol>

<!--Courses Table -->
<h2>Courses Taken</h2>
<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT404</td>
        <td>Spring 2026</td>
    </tr>
    <tr>
        <td>BMGT485</td>
        <td>Spring 2025</td>
    </tr>
    <tr>
        <td>BMGT301</td>
        <td>Fall 2024</td>
    </tr>
</table>

<!-- Relative link to hello route -->
<p>A relative hyperlink to <a href="/hello">Hello Page</a>.</p>

<!-- Favorite websites -->
<p>A link to the <a href="https://umd.edu">UMD Website</a>.</p>
<p>A link to the <a href="https://www.rhsmith.umd.edu" target="_blank">UMD Smith Website</a>.</p>

<!-- Smith Logo -->
<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">

</body>
</html>